<div id="gallery-page">
  <div class="container">
 <div class="row">
    <div class="col-md-6 offset-md-3">
     <div class="gallery-top">
       <%= link_to root_url do %>
       <h2 class="title">
        BadaBoom
       </h2>
       <% end %>
      <span>Gallery</span>
     </div>
    </div>
 </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="gallery">
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
          </div>
          <div id="links">
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/photo.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
            <a href="/assets/slide_phone_start.jpg" title="Photo 1">
              <img src="/assets/landscape.jpg" alt="Photo 1" class="thumb-img">
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
  document.getElementById('links').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
  };
</script>