/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require blueimp-gallery-all
 */
@import "bootstrap";
*{
  margin: 0;
  padding: 0;
}
body{
  
  font-family: "Segoe UI", sans-serif;
}
#gallery-page{
  .gallery-top{
    a{
      text-decoration: none;
    }
    text-align: center;
    .title{
      font-size: 60px;
      font-weight: 700;
      background-image: linear-gradient(to bottom right,#a2428a,#85519b,#6966b0,#4691d5);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    span{
      font-size: 42px;
      font-weight: 300;
    }
  }
  .gallery{
  text-align: center;
  #links{
    a{
      img{
        margin-bottom: 5px;
      }
    }
  }
}
}

header{
  width: 100%;
  padding-bottom: 70px;
  padding-top: 20px;
  background-image: linear-gradient(to bottom right,#a2428a,#85519b,#6966b0,#4691d5);
  .header-items{
    margin-top: 30px;
  }
  .phone-wrap{
    width: 100%;
    background: url("/assets/top_view.png") no-repeat center;
    background-size: contain;
    padding-top: 82px;
    padding-bottom: 157px;
    .slider-wrap{
      width: 253.5px;
      margin: 0 auto;
      .phone-slider{
        position: relative;
        .owl-prev,.owl-next{
          position: absolute;
          top: 45%;
          width: 15px;
          height: 15px;
          color: #000;
          display: block;
          opacity: 0.7;
          background: url('/assets/slider_right.png') no-repeat center;
        }
        .owl-prev{
          left: -20%;
          transform: rotate(180deg);
        }
        .owl-next{
          right: -20%;
        }
      }
    }
  }
  .left-items{
    .clock-box{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .date-box{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .countdown{
        font-size: 60px;
        font-weight: bold;
        line-height: 50px;
        color: white;
        
        font-style: normal;
        .d{
          margin-right: 23px;
        }
        .h{
          margin-right: 5px;
        }
        .m{
          margin-left: 5px;
          margin-right: 5px;
        }
        .s{
          margin-left: 5px;
        }
      }
      .dhms{
        width: 350px;
        font-size: 18px;
        line-height: 100%;
        
        color: white;
        margin-top: 2px;
        .d{
          margin-left: 10px;
        }
        .h{
          margin-left: 55px;
        }
        .m{
          margin-left: 47px;
        }
        .s{
          margin-left: 27px;
        }
      }
    }
    .subscription-box{
      position: relative;
      margin-top: 50px;
      width: 100%;
      .subscription{
        font-size: 42px;
        
        color: white;
        
      }
      .input-link-box{
        margin-top: 20px;
        width: 100%;
        position: relative;
        .input-link{
          width: 100%;
          height: 50px;
          border: 1px solid rgba(255,255,255,0.5);
          border-radius: 50px;
          display: flex;
          align-items: center;
          .inputs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
              width: 55%;
              height: 28px;
              margin-left: 20px;
              background: transparent;
              border: none;
              color: white;
              font-size: 16px;
              padding: 2px;
              padding-left: 5px;
              outline: none;
            }
            button{
              padding: 10px;
              background-color: #6fc754;
              color: white;
              border-radius: 50px;
              border: none;
              margin-right: 2px;
              cursor: pointer;
            }
          }
          form{
            width: 100%;
          }
        }
      }
    }
    .bounty{
      width: 100%;
      text-align: center;
      margin-top: 50px;
      span{
        color: white;
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .right-items{
    .like-box{
      .like{
          cursor: pointer;
        }
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      flex-direction: column;
      .phrase{
        font-size: 42px;
        font-weight: normal;
        margin-top: 20px;
        color: white;
        line-height: 100%;
      }
      .likes-count{
        font-size: 60px;
        font-weight: bold;
        color: white;
        line-height: 100%;
      }
    }
    .social-box{
      text-align: center;
      margin-top: 50px;
      span{
        font-size: 42px;
        color: white;
        font-weight: normal;
        line-height: 100%;
        text-align: center;
      }
      .social-icons{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
      }
    }
    .ico{
      width: 100%;
      text-align: center;
      margin-top: 50px;
      span{
        color: white;
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .download-app-box{
    width: 100%;
    text-align: center;
    .download-app{
      margin-top: 20px;
    }
    span{
      font-size: 14px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.5);
      margin-bottom: 10px;
    }
  }
}
#main{
  position: relative;
  
  padding-top: 60px;
  .face-slider{
    .owl-item{
      padding: 15px;
    }
    .center{
      padding: 0;
    }
    .owl-prev,.owl-next{
          position: absolute;
          top: calc(50% - 15px);
          width: 30px;
          height: 30px;
          color: #000;
          display: block;
          opacity: 0.7;
        }
        .owl-prev{
          left: -15%;
          background: url(/assets/arrow_left.png) no-repeat center;
        }
        .owl-next{
          right: -15%;
          background: url(/assets/arrow_right.png) no-repeat center;
        }
  }
  .gallery-box{
    width: 100%;
    background: #f5f5f8;
    position: relative;
    .title{
      font-family: "Segoe UI Semilight" sans-serif;
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 20px;
      display: block;
    }
    .description{
      font-family: "Segoe UI Semilight" sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      color: gray;
      margin-bottom: 30px;
      min-height: 80px;
    }
    .name{
      font-size: 12px;
      font-family: "Segoe UI Semilight" sans-serif;
      display: block;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 300;
    }
    .images-row{
      width: 100%;
      
      .image{
        width: 25%;
        float: left;
        padding: 0 2px;
      }
    }
    .about{
      margin-top: 25px;
      margin-bottom: 40px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-image: linear-gradient(to right,#fff,#a2428a,#85519b,#6966b0,#4691d5,#fff);
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-image-slice: 1;
      .about-title{
        font-size: 36px;
        font-weight: 700;
        background-image: linear-gradient(to bottom right,#a2428a,#85519b,#6966b0,#4691d5);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        margin-bottom: 15px;
        
      }
      .about-project{
        font-family: "Segoe UI Semilight" sans-serif;
        font-size: 18px;
        margin: 0;
        font-weight: 300;
      }
    }
    padding: 30px 0 40px 0;
    margin-top: 40px;
    box-shadow: 0 30px 40px 5px rgba(0,0,0,0.3);
    margin-bottom: 40px;
  }
  .app-title{
    text-align: center;
    margin-bottom: 50px;
    h2{
      font-size: 42px;
      font-family: "Segoe UI Semibold", sans-serif;
      margin-bottom: 20px;
    }
    .line{
      height: 4px;
      width: 55px;
      background: blue;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }
    span{
      font-size: 14px;
      color: rgba(0,0,0,0.5);
      text-transform: uppercase;
    }
  }
  .interface-images{
    margin-bottom: 30px;
    .center-app-image{
      .bg-phone{
        position: absolute;
        left: -14.5%;
        top:-18%;
        bottom: -35%;
        right: -14.5%;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
footer{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right,#a2428a,#85519b,#6966b0,#4691d5);
  .logo{
    width: 40%;
    margin-bottom: 30px;
  }
  .footer-text{
    font-size: 14px;
    color: white;
  }
  .social-box{
      span{
        font-size: 14px;
        color: white;
        font-weight: normal;
       
      }
      .social-icons{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      }
    }
}

@media (min-width: 1360px) {
    .container{
        width: 1300px;
    }
}
@media (min-width: 1200px) and(max-width: 1360px){
  header{
    .phone-wrap{
      padding-top: 72px;
      padding-bottom: 140px; 
      .slider-wrap{
        width: 233px;
      }
    }
  }
}
@media (min-width: 992px) and(max-width: 1199px){
  header{
    .phone-wrap{
      padding-top: 62px;
      padding-bottom: 120px;
      .slider-wrap{
        width: 193px;
      }
    }
    .left-items{
      .clock-box{
        padding-top: 30px;
        padding-bottom: 20px;
        img{
          width: 90px;
        }
      }
      .date-box{
        .countdown{
          font-size: 48px;
          line-height: 48px;
        }
        .dhms{
          font-size: 14px;
          width: 289px;
          .h{
            margin-left: 48px;
          }
          .m{
            margin-left: 40px;
          }
          .s{
            margin-left: 23px;
          }
        }
      }
      .subscription-box{
        margin-top: 30px;
        .subscription{
          font-size: 32px;
        }
        .input-link-box{
          margin-top: 10px;
          .input-link{
            height: 38px;
            padding-top: 1px;
            padding-bottom: 1px;
            .inputs{
              button{
                padding: 6.5px;
                margin-right: 1px;
                font-size: 14px;
              }
            }
          }
        }
      }
      .bounty{
        margin-top: 30px;
        span{
          font-size: 48px;
        }
      }
    }
    .right-items{
      .like-box{
        
        padding-top: 30px;
        img{
          width: 90px;
        }
        .phrase{
          font-size: 32px;
        }
        .likes-count{
          font-size: 48px;
        }
      }
      .social-box{
        margin-top: 30px;
        .social-network{
          font-size: 32px;
        }
        .social-icons{
          width: 234px;
          margin-top: 10px;
          img{
            width: 40px;
          }
        }
      }
      .ico{
        margin-top: 30px;
        span{
          font-size: 48px;
        }
      }
    }
  }
  #main{
    padding-top: 50px;
    .gallery-box{
      margin-top: 10px;
      .author-text{
        .title{
          margin-bottom: 10px;
          
        }
        .name{
          margin-bottom: 15px;
        }
      }
      .about{
        margin-top: 10px;
        margin-bottom: 25px;
        .about-project{
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: 768px) and(max-width: 991px){
  header{
    padding-bottom: 40px;
    .phone-wrap{
      padding-top: 44px;
      padding-bottom: 88px;
      .slider-wrap{
        width: 140px;
      }
      
    }
    .left-items{
      .clock-box{
        padding-top: 30px;
        padding-bottom: 20px;
        img{
          width: 70px;
        }
      }
      .date-box{
        .countdown{
          font-size: 32px;
          line-height: 32px;
        }
        .dhms{
          font-size: 10px;
          width: 207px;
          .d{
            margin-left: 5px;
          }
          .h{
            margin-left: 40px;
          }
          .m{
            margin-left: 26px;
          }
          .s{
            margin-left: 20px;
          }
        }
      }
      .subscription-box{
        margin-top: 15px;
        .subscription{
          font-size: 24px;
        }
        .input-link-box{
          margin-top: 10px;
          .input-link{
            height: 34px;
            padding-top: 1px;
            padding-bottom: 1px;
            .inputs{
              button{
                padding: 6px;
                margin-right: 1px;
                font-size: 12px;
              }
            }
          }
        }
      }
      .bounty{
        margin-top: 15px;
        span{
          font-size: 32px;
        }
      }
    }
    .right-items{
      .like-box{
        padding-top: 30px;
        img{
          width: 70px;
        }
        .phrase{
          font-size: 24px;
        }
        .likes-count{
          font-size: 32px;
        }
      }
      .social-box{
        margin-top: 15px;
        .social-network{
          font-size: 24px;
        }
        .social-icons{
          width: 176px;
          margin-top: 10px;
          img{
            width: 36px;
          }
        }
      }
      .ico{
        margin-top: 15px;
        span{
          font-size: 32px;
        }
      }
    }
  }
  #main{
    padding-top: 50px;
    .gallery-box{
      margin-top: 10px;
      .author-text{
        .title{
          margin-bottom: 10px;
          
        }
        .name{
          margin-bottom: 15px;
        }
      }
      .about{
        margin-top: 10px;
        margin-bottom: 25px;
        .about-project{
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: 412px) and(max-width: 576px){
  header{
    padding-bottom: 50px;
    .logo{
      text-align: center;
    }
    .left-items{
      .clock-box{
        padding-top: 30px;
        padding-bottom: 20px;
      }
      .subscription-box{
        margin-top: 30px;
      }
      .bounty{
        margin-top: 30px;
      }
    }
    .right-items{
      .like-box{
        padding-top: 0;
        
      }
      .social-box{
        margin-top: 30px;
      }
      .ico{
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  #main{
    padding-top: 40px;
    .gallery-box{
      .title{
        min-height: 64px;
        line-height: 32px;
        margin-bottom: 10px;
      }
      .description{
        min-height: 140px;
      }
      .name{
        margin-bottom: 15px;
      }
      .about{
        .about-project{
          font-size: 14px;
        }
      }
      .images-row{
        width: 100%;
        text-align: center;
        
        .image{
          width: 100%;
          margin-bottom: 5px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}
@media (min-width: 360px) and(max-width: 411px){
  header{
    padding-bottom: 50px;
    .phone-wrap{
      padding-top: 72px;
      padding-bottom: 140px;
      .slider-wrap{
        width: 230px;
      }
    }
    .logo{
      text-align: center;
    }
    .left-items{
      .clock-box{
        padding-top: 30px;
        padding-bottom: 20px;
      }
      .subscription-box{
        margin-top: 30px;
      }
      .bounty{
        margin-top: 30px;
      }
    }
    .right-items{
      .like-box{
        padding-top: 0;
      }
      .social-box{
        margin-top: 30px;
      }
      .ico{
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  #main{
    padding-top: 40px;
    .gallery-box{
      .title{
        min-height: 64px;
        line-height: 32px;
        margin-bottom: 10px;
      }
      .description{
        min-height: 140px;
      }
      .name{
        margin-bottom: 15px;
      }
      .about{
        .about-project{
          font-size: 14px;
        }
      }
      .images-row{
        width: 100%;
        text-align: center;
        
        .image{
          width: 100%;
          margin-bottom: 5px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}